.nav{
  font-family: "Geist Pixel", sans-serif;
  border: 2px solid #dbd8d8;
  border-radius: 15px;
  width: 400px;
  margin: 0 auto;
  background-color: #efecec;
  text-align: right;
  padding: 10px;

  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.nav a{
  text-decoration: none;
  color: black;
}

.nav a:hover{
  color: #071a97;
}

body {
  background-color: #f4f4f5;
}

.nav-logo {
  width: 40px;
  height: 40px;
  padding-right: 80px;
  object-fit: contain;
}